import 'package:parse_server_sdk/parse_server_sdk.dart';

class ChaveParse {

  Future<void> initializeParse() async {
    //Inicialização do Parse Server
    await Parse().initialize(
      ' ',
      ' ',
      clientKey: ' ',
      autoSendSessionId: true,
      debug: true,
    );
  }

}